.App {
  text-align: center;
  font-family: "Consolas" !important;
  font-weight: normal !important;
  color: white !important;
  letter-spacing:1.5px !important;
  background-color: #1a1f22;
}

.app {
  text-align: center;
  font-family: "Consolas" !important;
  font-weight: normal !important;
  color: white !important;
  letter-spacing:1.5px !important;
  background-color: #1a1f22;
}

h1, h2, h3 {
  font-weight: normal !important;
  letter-spacing:1.5px !important;
  font-family: "Consolas" !important;

}

.ui.Container {
  text-align: center;
  font-family: "Consolas" !important;
  font-weight: normal !important;
  color: white !important;
  letter-spacing:1.5px !important;
  background-color: #1a1f22;
}

.ui.Menu {
  color: white !important;
}

